.trust {
    display: flex;
    justify-content: center;

    &__wrap {
        max-width: 420px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 768px) {
            max-width: 500px;
        }
        @media (min-width: 1440px) {
            max-width: 555px;
        }
    }

    &__img {
        width: 55px;
        height: auto;
        margin-bottom: 25px;
        @media (min-width: 768px) {
            width: 90px;
        }
        @media (min-width: 1024px) {
            width: 120px;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: $black;
        @media (min-width: 768px) {
            font-size: 18px;
        }
        @media (min-width: 1024px) {
            font-size: 24px;
        }
    }

    &__about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 50px;
        margin-bottom: 20px;
    }

    &__status {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: $black;
        @media (min-width: 768px) {
            font-size: 17px;
        }
        @media (min-width: 1024px) {
            font-size: 18px;
        }
    }

    &__desc {
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        color: $text-color;
        @media (min-width: 1024px) {
            font-size: 16px;
        }
    }
}
