.mask {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(#000000, 0.5);
    z-index: 20;
    display: none;
}

.modal {
    max-width: 475px;
    max-height: calc(100vh - 30px);
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    position: fixed;
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 15px;
    display: none;

    &__wrap {
        width: 100%;
        background: $white;
        box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.18);
        padding: 50px 30px;
        position: relative;
    }

    &__title {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        text-transform: uppercase;
        color: #333333;
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #333333;
    }

    &__subtitle {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        color: #333333;
    }

    &__close {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 15px;
        right: 15px;
        @include bg-img-center;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 1.4L12.6 0L7 5.6L1.4 0L0 1.4L5.6 7L0 12.6L1.4 14L7 8.4L12.6 14L14 12.6L8.4 7L14 1.4Z' fill='%23333333'/%3E%3C/svg%3E%0A");
        transition: $base-transition;
        &:hover {
            transform: rotate(90deg);
        }
    }
}

.mainForm {
    width: 100%;

    .btn {
        display: block;
        margin: 0 52px 0 0;
    }

    &__wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__field {
        width: 100%;
        margin-bottom: 20px;
    }

    &__label {
        display: block;
        font-size: 18px;
        color: #333333;
        margin-bottom: 10px;
    }

    &__input {
        width: 100%;
        border: 1px solid #333333;
        font-size: 16px;
        color: #333333;
        padding: 8px 10px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}
