.step {
    max-width: 800px;
    margin: 0 auto;

    .column {
        width: 100%;
        column-width: 370px;
        -webkit-column-width: 370px;
        -moz-column-width: 370px;
        column-gap: 60px;

        p,
        a,
        ol,
        ul,
        li,
        span,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $white;
        }
    }

    h3 {
        color: $white;

        &:first-child {
            color: $main-color;
        }

        &:last-child {
            padding-bottom: 10px;
            position: relative;
            @media (min-width: 1024px) {
                padding-bottom: 25px;
            }
            &:after {
                position: absolute;
                content: "";
                width: 80px;
                height: 1px;
                background: $main-color;
                bottom: 0;
                left: 0;
            }
        }

        span {
            font-family: $rubik;
            font-weight: 900;
            font-size: 36px;
            letter-spacing: 0.04em;
            color: $main-color;
            margin-left: 5px;
            @media (min-width: 768px) {
                font-size: 70px;
            }
            @media (min-width: 1024px) {
                font-size: 80px;
            }
            @media (min-width: 1440px) {
                font-size: 90px;
            }
            @media (min-width: 1920px) {
                font-size: 107px;
            }
        }
    }

    &__title-wrap {
        padding: 0 50px;
        margin-bottom: 25px;
        @media (min-width: 1024px) {
            padding: 0;
        }
    }
}
