section(data-anchor="task" style="background-image: url('images/task-bg.png');").section.task-section
	.container
		.task-wrap.typography
			h5 Ми розуміємо, що 
				span наше завдання 
				| - не просто здати якісний об’єкт, але 
				span виправдати інвестиції клієнта