.task-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 250px;
    height: 40vw;
    position: relative;

    .task-wrap {
        position: absolute;
        bottom: -90px;
        left: 50%;
        transform: translateX(-50%);
        width: 290px;
        background: $black-main;
        padding: 25px 15px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);

        @media (min-width: 640px) {
            left: auto;
            transform: none;
            right: 25px;
            bottom: -60px;
        }

        @media (min-width: 768px) {
            right: 50px;
        }

        @media (min-width: 1024px) {
            padding: 40px;
            width: 410px;
            right: 145px;
            bottom: 0;
        }

        @media (min-width: 1200px) {
            padding: 75px 35px 60px;
            width: 500px;
            right: 250px;

        }
    }

    h5 {
        span {
            color: $main-color;
        }
    }
}