.btn {
    font-size: 12px;
    text-align: center;
    color: $black-main;
    border: 1px solid $black-main;
    padding: 6px;
    z-index: 11;
    position: relative;
    @media (min-width: 768px) {
        padding: 12px 15px;
        font-size: 16px;
    }

    &:hover {
        background: $black-main;
        color: $white;
    }

    &.more {
        &:before {
            position: absolute;
            content: "";
            width: 52px;
            height: calc(100% + 2px);
            background: $main-color;
            top: 50%;
            transform: translateY(-50%);
            right: -52px;
        }

        &:after {
            position: absolute;
            content: "";
            width: 40px;
            height: 14px;
            top: 50%;
            transform: translateY(-50%);
            right: -40px;
            @include bg-img-center;
            background-image: url("data:image/svg+xml,%3Csvg width='48' height='16' viewBox='0 0 48 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M47.7071 8.70711C48.0976 8.31658 48.0976 7.68342 47.7071 7.29289L41.3431 0.928932C40.9526 0.538408 40.3195 0.538408 39.9289 0.928932C39.5384 1.31946 39.5384 1.95262 39.9289 2.34315L45.5858 8L39.9289 13.6569C39.5384 14.0474 39.5384 14.6805 39.9289 15.0711C40.3195 15.4616 40.9526 15.4616 41.3431 15.0711L47.7071 8.70711ZM0 9H47V7H0V9Z' fill='white'/%3E%3C/svg%3E%0A");
            @media (min-width: 768px) {
                width: 48px;
                height: 16px;
            }
        }

        &:hover {
            border-color: $main-color;
            background: $main-color;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    &:after {
        transition: $base-transition;
    }

    &:hover {
        &:after {
            text-shadow: 0px 7px 3px rgba(0, 0, 0, 0.25);
        }
    }
}
