section(data-anchor="build")#build-anch.section.build-section
	.section-title.center(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
		.section-title__wrap.typography
			h3.section-title__subtitle Нами
			h2.section-title__title побудовано
	.intro-slider.js-build-slider
		.build.typography(data-aos-once="true" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="1100")
			.build__wrap
				.build__card
					span.build__clinic-name Приватна клініка Медіком 
					span.build__count 01
					.build__block-wrap
						.build__block
							p Клієнт:
							.build__clinic-logo
								img(src="images/clinic3.png", alt="")
						.build__block
							p Дата:
							p 2016
						.build__block
							p Адреса споруди:
							p Київ, вул. Гончара
						.build__block
							p Напрямок робіт:
							p Генпідряд і оздоблювальні роботи
				.build__info
					.build__desc-wrap
						p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		.swiper-wrapper
			.swiper-slide
				.build.typography
					.build__img
						img(src="images/main-bg.png", alt="")
			.swiper-slide
				.build.typography
					.build__img
							img(src="images/main-bg2.png", alt="")
			.swiper-slide
				.build.typography
					.build__img
						img(src="images/main-bg3.png", alt="")
		.swiper-button-prev
		.swiper-button-next
		.build__info.build__info.typography
			.build__desc-wrap.build__desc-wrap--mob
				p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

	.intro-slider.js-build-slider(style="display: none")
		.build.typography
			.build__wrap
				.build__card
					span.build__clinic-name Приватна клініка Медіком 
					span.build__count 02
					.build__block-wrap
						.build__block
							p Клієнт:
							.build__clinic-logo
								img(src="images/clinic3.png", alt="")
						.build__block
							p Дата:
							p 2016
						.build__block
							p Адреса споруди:
							p Київ, вул. Гончара
						.build__block
							p Напрямок робіт:
							p Генпідряд і оздоблювальні роботи
				.build__info
					.build__desc-wrap
						p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		.swiper-wrapper
			.swiper-slide
				.build.typography
					.build__img
						img(src="images/main-bg.png", alt="")
			.swiper-slide
				.build.typography
					.build__img
							img(src="images/main-bg2.png", alt="")
			.swiper-slide
				.build.typography
					.build__img
						img(src="images/main-bg3.png", alt="")
		.swiper-button-prev
		.swiper-button-next
	button(type="button").btn.more.js-build-show-more показати більше