.build-section {
    padding: 50px 0;

    @media (min-width: 1024px) {
        padding: 0;
    }

    .section-title {
        margin-bottom: 150px !important;
    }

    .swiper-button-next {
        top: auto;
        bottom: 50%;
        
        @media (min-width: 1440px) {
            width: 60px !important;
            right: 80px !important;
            bottom: 55%;
        }
    }

    .swiper-button-prev {
        top: auto;
        bottom: 50%;
        
        @media (min-width: 1440px) {
            width: 60px !important;
            left: 530px !important;
            bottom: 55%;
        }
    }

    .btn {
        display: block;
        margin: 20px auto;
    }

    .swiper-wrapper {
        @media (min-width: 1440px) {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    .intro-slider {
        overflow: initial;
        +.intro-slider {
            margin-top: 60px;
        }
        @media (min-width: 1440px) {
            +.intro-slider {
                margin-top: 0;
            }
        }
    }
}

.build {
    &__wrap {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        @media (min-width: 1440px) {
            flex-direction: row;
        }
    }

    &__card {
        width: 100%;
        flex: none;
        background: rgba(#ebebeb, 0.9);
        position: relative;

        @media (min-width: 1440px) {
            width: 450px;
            border-right: 2px solid $main-color;
            padding: 160px 0;
        }
    }

    &__clinic-name {
        display: block;
        width: 100%;
        background: $main-color;
        font-weight: 500;
        font-size: 16px;
        color: $white;
        text-align: center;
        padding: 12px 55px;

        @media (min-width: 1440px) {
            font-size: 24px;
            margin-bottom: 35px;
        }
    }

    &__block-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;

        @media (min-width: 1440px) {
            padding: 0;
        }
    }

    &__img {
        width: 100%;
        height: 320px;

        @media (min-width: 768px) {
            height: 370px;
        }

        @media (min-width: 1024px) {
            height: 550px;
        }

        @media (min-width: 1440px) {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__block {
        width: 48%;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            width: 24%;
        }

        @media (min-width: 1440px) {
            width: 100%;
            margin-bottom: 50px;
            padding: 0 100px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        p {
            font-weight: 500 !important;

            &:first-child {
                color: #29282e;
                margin-bottom: 15px;
            }

            &:last-child {
                color: #4f4f4f;
            }
        }
    }

    &__count {
        left: 0;
        top: 0;
        font-family: $rubik;
        position: absolute;
        transform: rotate(270deg);
        font-weight: 900;
        font-size: 48px;
        color: #bdbdbd;
        z-index: -1;
        top: -45px;

        @media (min-width: 1024px) {
            font-size: 92px;
            top: -85px;
        }

        @media (min-width: 1440px) {
            z-index: 1;
            top: 250px;
            right: 0;
            left: auto;
        }
    }

    &__clinic-logo {
        width: 80px;
        height: auto;
        background: transparent;

        @media (min-width: 1440px) {
            width: 116px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__empty {
        height: 330px;
    }

    &__desc-wrap {
        margin-top: auto;
        background: rgba(#ebebeb, 0.9);
        padding: 20px;
        display: none;

        @media (min-width: 1440px) {
            padding: 35px 70px;
            display: block;
        }

        &--mob {
            display: block;
            @media (min-width: 1440px) {
                display: none;            
            }
        }

    }
}
