.values-section {
    padding: 50px 0;
    @media (min-width: 1024px) {
        padding: 0;
    }
    .section-title {
        margin-bottom: 100px !important;
        @media (min-width: 1920px) {
            margin-bottom: 180px !important;
        }
    }
}

.values-wrap {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 768px) {
        margin: 0 -12px;
    }
    @media (min-width: 1024px) {
        margin: 0 -35px;
    }
    @media (min-width: 1440px) {
        margin: 0 -80px;
    }

    span {
        width: 100%;
        font-family: $rubik;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $black-main;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #c4c4c4;
        @media (min-width: 1024px) {
            padding-bottom: 20px;
            font-size: 18px;
        }
        @media (min-width: 1440px) {
            padding-bottom: 50px;
            font-size: 20px;
        }
    }
}

.value {
    width: 100%;
    margin-bottom: 60px;
    &:last-child {
        margin-bottom: 0;
    }
    @media (min-width: 768px) {
        width: 33.33%;
        padding: 0 12px;
    }
    @media (min-width: 1024px) {
        padding: 0 35px;
    }
    @media (min-width: 1440px) {
        padding: 0 80px;
    }

    &__wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: auto;
        height: 85px;
        margin-bottom: 12px;
        @media (min-width: 1440px) {
            height: 100px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
