section(data-anchor="values")#values-anch.section.values-section
	.container
		.section-title.center(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
			.section-title__wrap.typography
				h3.section-title__subtitle Наші
				h2.section-title__title цінності
		.values-wrap.typography
			.value(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
				.value__wrap
					.value__img
						img(src="images/value1.svg", alt="")
					span Діалог
					p Почути і зрозуміти замовника - перший і головний крок до успішної реалізації проекту. Бажання клієнта - це головна цінність для нашої команди. У нас працюють спеціалісти, які вміють не лише почути, а й відчути ваше бачення там, де можливо, ви не до кінця конкретно можете висловити його. Ми знаємо як ваше “Я мрію про…” перетворити у “Ми знаємо, що треба зробити” 
			.value(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
				.value__wrap
					.value__img
						img(src="images/value2.svg", alt="")
					span Довіра
					p Репутація - це головний ресурс на нашому ринку. Не підвести замовника у термінах та якості - у нашому розумінні це ключове правило партнерства. Ми надійні партнери і наш досвід є запорукою того, що всі процеси у нас відлагоджені до дрібниць. Будівництво закладу  вашої мрії має бути мистецтвом, а не хаосом. Ми працюємо саме так. І цінуємо свій та ваш час.
			.value(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
				.value__wrap
					.value__img
						img(src="images/value3.svg", alt="")
					span Досконалість деталей
					p Дрібниць не буває - це наша аксіома.  Успіх складається з деталей, ми розуміємо це і кожну деталь, яка залежить від нас, робимо досконало, пам’ятаючи головне: ми будуємо Місця Сили, де будуть працювати Люди, щоб турбуватися про Людей.