.founder-section {
    padding: 50px 0;
    @media (min-width: 1024px) {
        padding: 0;
    }
    .section-title {
        margin-bottom: 45px;
        @media (min-width: 768px) {
            margin-bottom: 70px;
        }
        @media (min-width: 1024px) {
            margin-bottom: 100px;
        }
        @media (min-width: 1920px) {
            margin-bottom: 120px;
            max-width: 100%;
        }
    }
}

.founder {
    &__wrap {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        @media (min-width: 1024px) {
            flex-direction: row;
            align-items: stretch;
            justify-content: center;
        }
    }

    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        @media (min-width: 1024px) {
            max-width: 740px;
            margin-right: 70px;
        }
        @media (min-width: 1024px) {
            max-width: 530px;
        }
    }

    p {
        font-style: italic;
    }

    span {
        margin: auto 0 10px;
        font-weight: 500;
        text-align: right;
        letter-spacing: 0.05em;
        color: #29282e;
        font-size: 14px;
        @media (min-width: 1024px) {
            font-size: 16px;
        }
        @media (min-width: 1440px) {
            font-size: 18px;
        }
    }

    &__img-wrap {
        width: 240px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background: $black-main;
        position: relative;
        margin-bottom: 25px;
        @media (min-width: 768px) {
            width: 400px;
        }
        @media (min-width: 1024px) {
            width: 420px;
        }
        @media (min-width: 1440px) {
            width: 460px;
            margin-bottom: 0;
        }
    }

    &__img {
        width: 190px;
        height: 100%;
        @media (min-width: 768px) {
            width: 315px;
        }
        @media (min-width: 1024px) {
            width: 335px;
        }
        @media (min-width: 1440px) {
            width: 365px;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__img-brack {
        position: absolute;
        left: -25px;
        top: 10px;
        width: 70px;
        height: 55px;
        @include bg-img-center;
        background-image: url("data:image/svg+xml,%3Csvg width='120' height='97' viewBox='0 0 120 97' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M41.8328 6L63.5337 17.5356C55.5181 31.7628 51.3636 45.0768 51.0704 57.4775V83H15V59.2079C15.0978 50.4601 17.737 41.0874 22.9179 31.0899C28.0987 20.9963 34.4037 12.633 41.8328 6ZM93.2991 6L115 17.5356C106.984 31.7628 102.83 45.0768 102.537 57.4775V83H66.4663V59.2079C66.564 50.4601 69.2033 41.0874 74.3842 31.0899C79.565 20.9963 85.87 12.633 93.2991 6Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='0' width='120' height='97' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='-5' dy='4'/%3E%3CfeGaussianBlur stdDeviation='5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
        @media (min-width: 768px) {
            width: 100px;
            height: 77px;
            left: -40px;
        }
    }
}
