section(data-anchor="founder")#founder-anch.section.founder-section
	.container
		.section-title.right(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
			.section-title__wrap.typography
				h2.section-title__title Чому ми будуємо
				h3.section-title__subtitle медичні об’єкти?
		.founder.typography
			.founder__wrap
				.founder__info(data-aos-once="true" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="1100")
					p Турбота про життя людини - це найвища місія. Ми добре знаємо, скільки душі та енергії вкладають власники медичних центрів в ідею свого бізнесу і чудово розуміємо рівень відповідальності, який вони свідомо обирають, вирішивши йти таким шляхом. Бо медичний бізнес - це про досконалість кожної деталі і любов до людей. А медичний заклад - це місце, куди людина має хотіти йти, щоб бути здоровою і прийшовши, отримати відчуття “Тут все для мене”. Наша команда знає, як втілювати цю ідею  крок за кроком, реалізовуючи ефективні практичні рішення. Ми любимо медицину і хочемо, щоб в Україні було багато сучасних і якісних медичних закладів. Будувати такі об’єкти  для нашої компанії означає мати можливість своїм досвідом, своїми вміннями долучитися до місії турботи про людину. Ми знаємо, яким має бути медичний заклад вашої мрії і ваша мрія надихає нас на бездоганну роботу
					span засновник компанії
					h4 Олег Терещенко
				.founder__img-wrap(data-aos-once="true" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-duration="1100")
					.founder__img
						img(src="images/founder.png", alt="")
					span.founder__img-brack