@keyframes left-animation {
    0% {
        transform: translate(-200px, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes right-animation {
    0% {
        transform: translate(200px, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes bottom-animation {
    0% {
        transform: translate(0, -200px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.mov {
    @media screen and (max-width: 1024px) {
        &.left-anim {
            position: relative;
            opacity: 0;
            transform: translate(-200px, 0);
            transition: all 1.5s ease;
        }

        &.right-anim {
            position: relative;
            opacity: 0;
            transform: translate(200px, 0);
            transition: all 1.5s ease;
        }
        &.bottom-anim {
            position: relative;
            opacity: 0;
            transform: translate(0, 200px);
            transition: all 1.5s ease;
        }
    }
}

.anim {
    @media screen and (max-width: 1024px) {
        &.left-anim {
            opacity: 1;
            transform: translate(0, 0);
        }

        &.right-anim {
            opacity: 1;
            transform: translate(0, 0);
        }

        &.bottom-anim {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}

.fp-tooltip {
    color: $main-color!important;
    font-weight: 600;
    font-size: 16px!important;;
    text-transform: uppercase;
}