html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: $roboto;

  &.overflow {
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

button {
  padding: 0;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
}
textarea {
  resize: vertical;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  outline: none;
  -webkit-appearance: none;
}

select {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  outline: none;
  -webkit-appearance: none;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 768px) {
    padding: 0 50px;
  }

  &.max {
    max-width: 1790px;
  }

  &.padding {
    max-width: 1920px;
    padding: 0;
  }
}

.section {
  // min-height: 100vh;
  @media (min-width: 1024px) {
    padding: 100px 0 50px 0 !important;
  }
}
.main {
  transition: all 0.3s ease;
  &.sticky {
    &.fixed {
      padding-top: 60px;
    }
  }
}
//scroll
.scroll-wrap::-webkit-scrollbar {
  background-color: transparent;
  height: 2px;
  width: 2px;
  border-radius: 100px;
  background-color: #c4c4c4;
}
.scroll-wrap::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 100px;
  background-color: $main-color;
}
