$breakpoints: (
	"xl": 1920px,
	"lg": 1280px,
	"md": 768px,
	"sm": 480px,
	"xs": 460px,
);

$white: #ffffff;
$black: #000000;
$black-main: #29282e;
$main-color: #ff0000;
$text-color: #4f4f4f;
$nav-bg: #828282;


$header-bg: #222a37;
$input-bg: #1b2331;
$subcolor: #6f6e85;
$subname: #b7b7c2;
$border-color: #3b4053;
$blue: #77a9de;
$red: #eb5757;
$green: #26d16e;

//fonts

$rubik: "Rubik";
$roboto: "Roboto";

//transition
$base-transition: all 0.3s ease;
