#fp-nav {
    position: fixed;
    top: 50%;
    right: 45px;
    z-index: 1;
    display: none;
    @media (min-width: 1024px) {
        display: block;
    }
    li {
        width: auto !important;
        height: auto !important;
        margin: 0 0 3px 0 !important;
        position: relative;
    }

    span {
        font-weight: 500;
        font-size: 16px;
        color: #ff0000;
        text-transform: uppercase;
        position: absolute;
        right: 15px;
        top: -4px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: all 0.3s ease;
        // display: none !important;
    }

    a {
        width: 9px !important;
        height: 9px !important;
        margin: 0 0 8px 0 !important;
        background-color: $nav-bg !important;

        &:hover {
            background-color: $main-color !important;
            span {
                opacity: 1;
                visibility: visible;
                z-index: 1;
            }
        }

        &.active {
            background-color: $main-color !important;
            height: 17px !important;
        }
    }

    .fp-sr-only {
        display: none !important;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        color: $main-color;
    }
}
