.intro-section {
    .fp-scroller {
        height: 100% !important;
        padding: 0 !important;
    }

    .intro-slider {
        // overflow: hidden;
        position: relative;
        height: 570px;
        @media (min-width: 1024px) {
            height: calc(100vh - 120px);
        }
    }
}

.fp-scroller {
    padding: 100px 0;
}

.intro-slider {
    overflow: hidden;
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {
        width: 35px;
        height: 35px;
        z-index: 3;

        @media (min-width: 768px) {
            width: 65px;
            height: 65px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: $main-color;
            mix-blend-mode: multiply;
            opacity: 0.8;
        }

        &:after {
            color: $white;
            font-size: 20px;
            z-index: 1;
            font-weight: 900;
        }
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-pagination-bullets {
        bottom: 70px;
        z-index: 3;
        @media (min-width: 768px) {
            bottom: 10px;
        }
    }
}

.intro-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.subcard {
    position: absolute;
    max-width: 500px;
    bottom: 0;
    left: 0;
    padding: 13px;
    display: flex;
    flex-direction: column;
    background: rgba($white, 0.8);
    @media (min-width: 768px) {
        left: 50px;
    }
    @media (min-width: 1024px) {
        padding: 20px;
        left: 140px;
    }
    @media (min-width: 1440px) {
        padding: 26px 38px;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        color: $text-color;
        @media (min-width: 1024px) {
            font-size: 19px;
        }
        @media (min-width: 1440px) {
            font-size: 24px;
        }

        &_sub {
            font-size: 14px;
            margin-top: 5px;
            @media (min-width: 1024px) {
                margin-top: 10px;
            }
            @media (min-width: 1440px) {
                margin-top: 13px;
                font-size: 16px;
            }
        }
    }
}
