section(data-anchor="intro")#intro.intro-section
	.intro-slider.js-intro-slider.typography
		.swiper-wrapper
			.swiper-slide
				.intro-slide(style="background-image: url('images/main-bg.png');")
					h1(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100").right-anim Ми ЗНАЄМО яким має бути медичний заклад
					.subcard(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
						span.subcard__text Приватна клініка МЕДІКОМ
						span.subcard__text.subcard__text_sub Київ, вул. Гончара
			.swiper-slide
				.intro-slide(style="background-image: url('images/main-bg2.png');")
					h2(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100").main-title Ми ЗНАЄМО яким має бути медичний заклад
					.subcard(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
						span.subcard__text Приватна клініка МЕДІКОМ
						span.subcard__text.subcard__text_sub Київ, вул. Гончара
			.swiper-slide
				.intro-slide(style="background-image: url('images/main-bg3.png');")
					h2(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100").main-title Ми ЗНАЄМО яким має бути медичний заклад
					.subcard(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
						span.subcard__text Приватна клініка МЕДІКОМ
						span.subcard__text.subcard__text_sub Київ, вул. Гончара
			.swiper-slide
				.intro-slide(style="background-image: url('images/main-bg4.png');")
					h2(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100").main-title Ми ЗНАЄМО яким має бути медичний заклад
					.subcard(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
						span.subcard__text Приватна клініка МЕДІКОМ
						span.subcard__text.subcard__text_sub Київ, вул. Гончара
		.swiper-button-prev
		.swiper-button-next
	.container.max
		.partners-content(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
			span.partners-title Нам довірили свої кліники:
			.partner-images.scroll-wrap
				.partner-img-wrap
					.partner-img
						img(src="images/partner1.png", alt="")
					.partner-img
						img(src="images/partner2.png", alt="")
					.partner-img
						img(src="images/partner3.png", alt="")
					.partner-img
						img(src="images/partner4.png", alt="")
					.partner-img
						img(src="images/partner5.png", alt="")
					.partner-img
						img(src="images/partner6.png", alt="")
					.partner-img
						img(src="images/partner3.png", alt="")
					.partner-img
						img(src="images/partner4.png", alt="")
					.partner-img
						img(src="images/partner2.png", alt="")
					.partner-img
						img(src="images/partner3.png", alt="")
					.partner-img
						img(src="images/partner4.png", alt="")