.column-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}

.column {
    width: 100%;
    margin-bottom: 25px;
    // max-height: 340px;
    // overflow: hidden;
    // overflow-y: auto;

    -moz-column-count: 2;
    -moz-column-width: 480px;
    -webkit-column-count: 2;
    -webkit-column-width: 480px;
    column-count: 2;
    column-width: 480px;
    column-gap: 100px;

    @media (min-width: 1024px) {
        max-height: 100%;
    }
    @media (min-width: 1440px) {
        // width: calc(50% - 50px);
    }
    &:last-child {
        margin-bottom: 0;
    }

    p,
    a,
    ol,
    ul,
    li,
    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        
        @media (min-width: 1440px) {
            font-size: 16px;
        }
    }
}
