section(data-anchor="figures")#figures-anch.section.figures-section
	.container
		.section-title.center.black(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
			.section-title__wrap.typography
				h2.section-title__title Цифри
				h3.section-title__subtitle про нас
		.figures-wrap
			.figure(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
				.figure__wrap
					.figure__num-wrap
						span 15
					h4 
						span років 
						| на ринку
			.figure(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1300")
				.figure__wrap
					.figure__num-wrap
						span 11
					h4 медичних 
						span об’єктів 
						| побудовано
			.figure(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1500")
				.figure__wrap
					.figure__num-wrap
						span 123
					h4 спеціалізованих 
						span фахівців