.figures-section {
    padding: 135px 0 40px;
    background: $black-main;
    @media (min-width: 1024px) {
        padding: 160px 0 75px;
    }
    @media (min-width: 1024px) {
        padding: 0;
    }
    .section-title {
        margin-bottom: 65px !important;
        @media (min-width: 768px) {
            margin-bottom: 130px !important;
        }
        @media (min-width: 1920px) {
            margin-bottom: 200px !important;
        }
    }
}

.figures-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
}

.figure {
    width: 100%;
    padding: 20px 40px;
    @media (min-width: 640px) {
        width: 33.33%;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__num-wrap {
        min-width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        border: 4px solid $white;
        margin-bottom: 5px;
        position: relative;
        @media (min-width: 768px) {
            min-width: 115px;
            height: 115px;
        }
        @media (min-width: 1024px) {
            min-width: 140px;
            height: 140px;
        }
        @media (min-width: 1440px) {
            min-width: 165px;
            height: 165px;
        }

        &:before {
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            top: 7px;
            left: 7px;
            background: $main-color;
            @media (min-width: 1440px) {
                width: 13px;
                height: 13px;
            }
        }

        span {
            font-family: $rubik;
            font-weight: 700;
            font-size: 44px;
            text-align: center;
            letter-spacing: 0.03em;
            color: $white;
            @media (min-width: 768px) {
                font-size: 54px;
            }
            @media (min-width: 1440px) {
                font-size: 78px;
            }
        }
    }

    h4 {
        max-width: 150px;
        font-weight: 700;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.05em;
        color: $white;
        text-align: center;

        span {
            color: $main-color;
        }

        @media (min-width: 1024px) {
            font-size: 18px;
            max-width: 220px;
        }
        @media (min-width: 1440px) {
            font-size: 21px;
        }
    }
}
