extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main.sticky
		include ../blocks/section/intro-section/intro-section
		include ../blocks/section/about-section/about-section
		include ../blocks/section/work-section/work-section
		//- include ../blocks/section/founder-section/founder-section
		include ../blocks/section/build-section/build-section
		include ../blocks/section/trust-section/trust-section
		include ../blocks/section/task-section/task-section
		include ../blocks/section/figures-section/figures-section
		include ../blocks/section/values-section/values-section
		include ../blocks/section/partners-section/partners-section

		//- ul#fp-nav
		//- 	li
		//- 		a(href="#intro").scroll-link
		//- 			span Головна
		//- 	li
		//- 		a(href="#about-anch").scroll-link
		//- 			span Про нас
		//- 	li
		//- 		a(href="#work-anch").scroll-link
		//- 			span Як ми працюємо
		//- 	li
		//- 		a(href="#founder-anch").scroll-link
		//- 			span Чому ми будуємо
		//- 	li
		//- 		a(href="#build-anch").scroll-link
		//- 			span Портфоліо
		//- 	li
		//- 		a(href="#trust-anch").scroll-link
		//- 			span Відгуки
		//- 	li
		//- 		a(href="#task-anch").scroll-link
		//- 			span Задача
		//- 	li
		//- 		a(href="#figures-anch").scroll-link
		//- 			span Цифри
		//- 	li
		//- 		a(href="#values-anch").scroll-link
		//- 			span Цінності
		//- 	li
		//- 		a(href="#footer-anch").scroll-link
		//- 			span Партнери

block footer
	include ../blocks/footer/footer
	include ../blocks/svg-sprite/svg-sprite

	