section(data-anchor="partners")#footer-anch.section.partners-section
	.container
		.section-title(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
			.section-title__wrap.typography
				h3.section-title__subtitle Наші
				h2.section-title__title партнери
		.partners-container.intro-slider.scroll-wrap(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
			.partners-scroll
				.img-wrap
					img(src="images/partner7.png", alt="")
				.img-wrap
					img(src="images/partner8.png", alt="")
				.img-wrap
					img(src="images/partner9.png", alt="")
				.img-wrap
					img(src="images/partner10.png", alt="")
				.img-wrap
					img(src="images/partner11.png", alt="")
				.img-wrap
					img(src="images/partner11.png", alt="")
				.img-wrap
					img(src="images/partner11.png", alt="")
				
	.footer.bottom-anim.typography
		.container.max
			.footer-block.order3
				a(href="#").logo
					img(src="images/logo-white.svg", alt="")
				p © 2020 Міжрегіональна Будівельна Компанія
			.footer-block.order1
				.contact
					svg.contact__icon
						use(href="#place")
					span Киев, ул. Киевская, 28, оф. 36
			.footer-block.order2
				.contact
					svg.contact__icon
						use(href="#phone")
					a(href="tel:+380675085050") +38 067 508 50 50
			.footer-block.order4
				a(href="https://www.zorelit.net/").agency
					svg(width="88" height="36" viewBox="0 0 88 36" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(fill-rule="evenodd" clip-rule="evenodd" d="M3.48932 5.89956C4.23209 6.8511 5.07175 7.8978 6.39582 8.18326C7.17088 9.1348 7.88136 10.2449 9.3346 10.5621C10.1097 11.5137 10.8524 12.6872 12.3057 13.0361C13.3068 14.2731 14.0173 15.4784 16.0195 15.7004C21.8971 16.3348 27.5486 16.9374 33.3616 17.5084C34.0075 18.3648 34.944 19.0626 35.9775 19.6969L43.2114 24.1374C43.6635 24.4229 44.2771 24.4229 44.7615 24.1374L51.9955 19.6969C53.0289 19.0626 53.9654 18.3648 54.6113 17.5084C60.392 16.9374 66.0435 16.3348 71.9534 15.7004C73.9557 15.4784 74.6338 14.2731 75.6673 13.0361C77.1205 12.6872 77.8633 11.5454 78.6383 10.5621C80.0916 10.2449 80.8021 9.1348 81.5771 8.18326C82.9012 7.8978 83.7408 6.88282 84.5159 5.89956C85.7431 5.67753 86.3567 5.01145 87.0995 4.09163L87.8745 3.14009C88.036 2.94978 88.036 2.72775 87.9068 2.53744C87.7776 2.34714 87.5516 2.22026 87.2609 2.22026H55.4833C51.7048 0.761234 48.2816 0 44.0188 0C39.7882 0 36.365 0.761234 32.5543 2.22026H0.712006C0.421357 2.22026 0.195296 2.34714 0.0661187 2.53744C-0.0307644 2.72775 -0.0307644 2.9815 0.130707 3.17181L0.905772 4.12335C1.64854 5.01145 2.29443 5.67753 3.48932 5.89956ZM27.4517 11.3868L27.484 11.4502L27.9362 13.0678C28.2914 14.3048 29.0019 15.2564 30.003 15.9859L28.7758 15.859C26.8704 15.6687 25.288 14.6855 24.5775 13.1947L23.641 11.1648L27.4517 11.3868ZM51.834 8.65903L47.7649 11.5454L46.0856 9.35683C46.7315 11.2916 46.9898 12.1163 48.8629 17.6987L44.0188 14.2097L39.1746 17.6987C41.0477 12.1163 41.306 11.2916 41.9519 9.35683L40.2726 11.5454L36.2035 8.65903H42.2103C42.5978 7.51718 43.1145 5.89956 44.0511 3.04493C44.9876 5.89956 45.5043 7.51718 45.8918 8.65903H51.834ZM54.1592 3.42555V14.4952C54.1592 16.1445 53.9008 17.2229 51.1881 18.8722L44.4386 23.0273V21.7586L50.4453 18.0793C51.4142 17.4767 52.4799 16.7471 52.7705 15.7322C52.8997 15.3198 52.8997 14.9075 52.8997 14.4952V3.99648L54.1592 3.42555ZM43.502 23.0273L36.7525 18.8722C34.0721 17.2229 33.7814 16.1445 33.7814 14.4952V3.42555L35.0409 3.99648V14.4952C35.0409 14.9075 35.0409 15.3515 35.1701 15.7322C35.4608 16.7154 36.5265 17.4767 37.4953 18.0793L43.4698 21.7586V23.0273H43.502ZM34.169 2.72775C37.1724 1.64934 40.4664 1.01498 43.9865 1.01498C47.4743 1.01498 50.8006 1.61762 53.804 2.72775L52.4476 3.36211C49.7672 2.47401 46.893 2.02996 43.9865 2.02996C41.08 2.02996 38.2058 2.47401 35.5253 3.36211L34.169 2.72775ZM60.4889 11.3868L64.2996 11.1648L63.3631 13.1947C62.6849 14.6855 61.0702 15.637 59.1648 15.859L57.9376 15.9859C58.9065 15.2564 59.6492 14.2731 60.0045 13.0678L60.4566 11.4502L60.4889 11.3868ZM85.84 3.42555C85.2587 4.15507 84.8388 4.75771 83.6117 4.78943L60.8441 5.36035L58.6804 12.8141C58.196 14.4317 56.9688 15.5101 55.2572 16.0811C55.3864 15.5736 55.4187 15.0344 55.4187 14.4952V3.42555H85.84ZM62.0713 6.05815L68.3364 5.93128L67.4968 7.67577C66.7217 9.22996 65.0747 10.2449 63.0724 10.3401L60.7795 10.467L62.0713 6.05815ZM80.6729 7.07313L69.1115 7.51718L69.8866 5.93128L82.9012 5.67753C82.2876 6.40705 81.9001 7.00969 80.6729 7.07313ZM77.7341 9.45198L67.1738 10.0863C67.7551 9.61057 68.2718 9.07137 68.6271 8.437L79.9301 7.99295C79.3488 8.72247 78.929 9.38855 77.7341 9.45198ZM74.7307 11.926L65.107 12.7189L65.882 11.0379L76.959 10.3718C76.3454 11.1648 75.9579 11.8308 74.7307 11.926ZM71.7596 14.4952L63.3308 15.415C63.9121 14.9392 64.3642 14.3366 64.6872 13.6705L73.9879 12.9093C73.3421 13.6388 72.9545 14.3683 71.7596 14.4952ZM2.10066 3.42555H32.522V14.4952C32.522 15.0344 32.5543 15.5419 32.6834 16.0811C30.9718 15.4784 29.7124 14.4317 29.2602 12.8141L27.0965 5.36035L4.32898 4.75771C3.10179 4.72599 2.68196 4.12335 2.10066 3.42555ZM25.8693 6.05815L27.1611 10.467L24.8682 10.3401C22.8659 10.2132 21.1866 9.22996 20.4439 7.67577L19.6042 5.93128L25.8693 6.05815ZM7.26776 7.07313C6.04058 7.00969 5.65305 6.40705 5.03945 5.67753L18.0541 5.93128L18.8292 7.51718L7.26776 7.07313ZM10.2066 9.45198C8.97937 9.38855 8.59183 8.72247 7.97824 7.99295L19.2813 8.437C19.6365 9.07137 20.1532 9.64229 20.7345 10.0863L10.2066 9.45198ZM13.2099 11.926C11.9827 11.8308 11.5952 11.133 10.9816 10.4035L22.0586 11.0696L22.8337 12.7507L13.2099 11.926ZM16.181 14.4952C14.9538 14.3683 14.5663 13.6705 13.9527 12.9093L23.2535 13.6705C23.5764 14.3366 24.0285 14.9392 24.6098 15.415L16.181 14.4952ZM28.033 34.7313C26.9996 34.7313 26.7736 34.2872 26.7736 33.5577V30.3542C26.7736 29.6247 26.9673 29.1806 28.033 29.1806C29.1634 29.1806 29.3571 29.6564 29.3571 30.3542V33.5577C29.3571 34.2872 29.0988 34.7313 28.033 34.7313ZM28.033 36C29.9384 36 30.7781 35.2705 30.7781 33.6211V30.259C30.7781 28.578 29.9707 27.8802 28.033 27.8802C26.0954 27.8802 25.3526 28.578 25.3526 30.259V33.6211C25.3526 35.2705 26.1277 36 28.033 36ZM43.5666 28.007V35.9366H48.3462V34.6361H44.9876V32.5427H47.7003V31.274H44.9876V29.2441H48.1847V28.007H43.5666ZM17.1821 35.9048H21.8648V34.5727H19.0552V34.541L21.8648 29.1172V27.9753H17.4082V29.3075H20.0886V29.3392L17.1821 35.0167V35.9048ZM70.7585 28.007H66.0112V29.2758H67.6905V35.8414H69.1115V29.2758H70.7585V28.007ZM62.2651 30.6079H60.8118V35.8731H62.2651V30.6079ZM56.8396 34.5727H53.7394V28.007H52.2861V35.8414H56.8073V34.5727H56.8396ZM40.0466 35.8414L38.3027 32.8599C39.2715 32.5427 39.6913 31.9084 39.6913 30.7665V30.3542C39.6913 28.7048 38.7871 28.007 36.8494 28.007H34.8472V35.8414H36.2681V33.0819H36.7848L38.3672 35.8414H40.0466ZM36.2358 31.7815V29.2758H36.8494C37.9474 29.2758 38.1735 29.6564 38.1735 30.4176V30.6714C38.1735 31.4326 37.8828 31.7815 36.8494 31.7815H36.2358ZM62.9433 28.007L62.0713 28.6414L62.3943 29.6247L61.5223 28.9903L60.6504 29.6247L60.9733 28.6414L60.1014 28.007H61.1671C61.2317 27.8167 61.3285 27.4996 61.49 26.9921L61.813 28.007H62.9433Z")
