.partners-section {
    position: relative;
    .section-title {
        margin-bottom: 120px;
        @media (min-width: 1920px) {
            margin-bottom: 270px;
        }
    }

    .intro-slider {
        margin-bottom: 70px;
        @media (min-width: 1024px) {
            margin-bottom: 200px;
        }
    }
    .partners-container {
        overflow: hidden;
        overflow-x: auto;
    }

    .partners-scroll {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }

    .img-wrap {
        flex-shrink: 0;
        max-width: 100px;
        width: 100%;
        margin: 0 16px;
        max-height: 50px;

        img {
            max-width: 100%;
            max-height: inherit;
            display: block;
        }
        
        @media (min-width: 1200px) {
            max-width: 160px;
            max-height: 80px;
        }

    }
}
