.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        width: auto;
        height: 34px;
        object-fit: contain;
        fill: $main-color;
        margin-bottom: 20px;
    }

    a,
    span {
        font-weight: 700;
        color: $white;
    }

    a {
        &:hover {
            color: $main-color;
        }
    }
}
