.trust-section {
    padding: 50px 0;
    // @media (min-width: 1024px) {
    //     padding: 0;
    // }
    .section-title {
        margin-bottom: 60px;
        @media (min-width: 1024px) {
            margin-bottom: 140px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 25%;
        @media (min-width: 640px) {
            top: 50%;
        }
    }
}

.trust {
    display: flex;
    justify-content: center;

    &__wrap {
        max-width: 420px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 768px) {
            max-width: 500px;
        }
        @media (min-width: 1440px) {
            max-width: 555px;
        }
    }

    &__img {
        width: 55px;
        height: auto;
        margin-bottom: 25px;
        @media (min-width: 768px) {
            width: 90px;
        }
        @media (min-width: 1024px) {
            width: 120px;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 50px;
        margin-bottom: 20px;
    }

    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: $black;
        @media (min-width: 768px) {
            font-size: 17px;
        }
        @media (min-width: 1024px) {
            font-size: 18px;
        }
    }
}
