section(data-anchor="trust")#trust-anch.section.trust-section
	.container
		.section-title(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
			.section-title__wrap.typography
				h3.section-title__subtitle Нам
				h2.section-title__title довіряють
		.intro-slider.js-trust-slider.typography
			.swiper-wrapper
				.swiper-slide
					.trust(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
						.trust__wrap
							.trust__img
								img(src="images/trust1.png", alt="")
							.trust__about
								h4 Вікторія Коломієць 
								span директор медичного центру “Verum”
							p Наш медичний центр вже півтора року працює в приміщенні, яке для нас збудувала компанія МБК.
							p Співпраця з МБК - це відчуття єдиної команди, коли компанія абсолютно точно відчуває побажання і потреби замовника, вміє чути та розуміти. У нас було складне питання, яке потребувало особливого підходу до вирішення. Завдяки професіоналізму фахівців МБК воно реалізовано гарно, зручно і комфортно для нас та наших пацієнтів.
							p Прозорість, відкритість, чесність із замовником та дуже якісна робота - наші враження про співпрацю з МБК”
				.swiper-slide
					.trust(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
						.trust__wrap
							.trust__img
								img(src="images/trust1.png", alt="")
							.trust__about
								h4 Вікторія Коломієць 
								span директор медичного центру “Verum”
							p Наш медичний центр вже півтора року працює в приміщенні, яке для нас збудувала компанія МБК.
							p Співпраця з МБК - це відчуття єдиної команди, коли компанія абсолютно точно відчуває побажання і потреби замовника, вміє чути та розуміти. У нас було складне питання, яке потребувало особливого підходу до вирішення. Завдяки професіоналізму фахівців МБК воно реалізовано гарно, зручно і комфортно для нас та наших пацієнтів.
							p Прозорість, відкритість, чесність із замовником та дуже якісна робота - наші враження про співпрацю з МБК”
				.swiper-slide
					.trust(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
						.trust__wrap
							.trust__img
								img(src="images/trust1.png", alt="")
							.trust__about
								h4 Вікторія Коломієць 
								span директор медичного центру “Verum”
							p Наш медичний центр вже півтора року працює в приміщенні, яке для нас збудувала компанія МБК.
							p Співпраця з МБК - це відчуття єдиної команди, коли компанія абсолютно точно відчуває побажання і потреби замовника, вміє чути та розуміти. У нас було складне питання, яке потребувало особливого підходу до вирішення. Завдяки професіоналізму фахівців МБК воно реалізовано гарно, зручно і комфортно для нас та наших пацієнтів.
							p Прозорість, відкритість, чесність із замовником та дуже якісна робота - наші враження про співпрацю з МБК”
			.swiper-button-prev
			.swiper-button-next