.header.sticky
	.container.max
		a(href="#").logo
			img(src="images/logo.svg", alt="")
		button(type="button").btn.primary.js-open-order замовити проект
		.burger-wrap.js-nav
			nav.nav
				ul.js-scroll-link-parent
					li
						a(href="#about-anch").js-scroll-link про нас
					li
						a(href="#work-anch").js-scroll-link Як ми працюємо
					li
						a(href="#founder-anch").js-scroll-link Чому ми
					li
						a(href="#build-anch").js-scroll-link портфоліо
					li
						a(href="#trust-anch").js-scroll-link відгуки
					li
						a(href="#figures-anch").js-scroll-link цифри
					li
						a(href="#values-anch").js-scroll-link цінності
					li
						a(href="#footer-anch").js-scroll-link партнери
					li
						a(href="#footer-anch").js-scroll-link контакти
			.soc
				.soc__wrap
					a(href="#").soc__icon
						svg
							use(href="#inst")
					a(href="#").soc__icon
						svg
							use(href="#facebook")
					a(href="#").soc__icon
						svg
							use(href="#youtube")
		.burger.js-burger
			span
			span
			span