.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 4;
    transition: all 0.3s ease;

    &.fixed {
        background-color: #fff;
        box-shadow: 0px 0px 2px #111;
        z-index: 100;
    }

    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.logo {
    width: 32px;
    height: auto;
    z-index: 11;
    @media (min-width: 768px) {
        width: 58px;
    }

    @media (min-width: 1024px) {
        width: 75px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.nav {
    margin-bottom: 40px;

    li {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        display: block;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #333333;

        &:hover {
            color: $main-color;
        }
    }

    @media (min-width: 1024px) {
        display: none;
    }
}

.burger-wrap {
    transition: $base-transition;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    right: -100%;
    opacity: 0;
    z-index: -1;
    background: rgba($white, 0.95);
    padding: 90px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1024px) {
        position: static;
        padding: 0;
        width: auto;
        height: auto;
        background: transparent;
        opacity: 1;
        z-index: 6;
    }

    &.active {
        right: 0;
        z-index: 6;
        opacity: 1;
    }
}

.burger {
    flex: none;
    display: flex;
    flex-direction: column;
    width: 26px;
    cursor: pointer;
    z-index: 17;

    @media screen and (min-width: 1024px) {
        display: none;
    }

    &.active {
        span {
            &:nth-child(1) {
                width: 26px;
                transform: rotate(45deg);
                top: 7px;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                width: 26px;
                transform: rotate(-45deg);
                bottom: 7px;
            }
        }
    }

    span {
        transition: all 0.3s ease;
        width: 100%;
        height: 4px;
        position: relative;
        background-color: $black-main;

        &:nth-child(1) {
            width: 26px;
            margin-bottom: 3px;
        }

        &:nth-child(2) {
            width: 26px;
        }

        &:nth-child(3) {
            width: 26px;
            margin-top: 3px;
        }
    }
}
