.typography {
    h1 {
        position: relative;
        font-family: $rubik;
        font-weight: 900;
        font-size: 18px;
        letter-spacing: 0.04em;
        color: $black-main;
        margin: 0 auto;
        max-width: 200px;

        @media (min-width: 768px) {
            font-size: 24px;
            max-width: 270px;
        }
        @media (min-width: 1024px) {
            font-size: 28px;
            max-width: 325px;
            margin-right: 23%;
        }
        @media (min-width: 1440px) {
            max-width: 460px;
            font-size: 42px;
        }
        @media (min-width: 1920px) {
            font-size: 56px;
            max-width: 620px;
        }

        &:before {
            position: absolute;
            content: "";
            width: 17px;
            height: 17px;
            top: -17px;
            left: -17px;
            background: $main-color;
            @media (min-width: 1440px) {
                top: -28px;
                left: -28px;
                width: 28px;
                height: 28px;
            }
        }
    }

    h2 {
        font-family: $rubik;
        font-weight: 900;
        font-size: 18px;
        letter-spacing: 0.04em;
        color: $main-color;
        margin: 5px 0;
        @media (min-width: 768px) {
            font-size: 24px;
        }
        @media (min-width: 1024px) {
            font-size: 28px;
            margin: 0;
        }
        @media (min-width: 1440px) {
            font-size: 42px;
        }
        @media (min-width: 1920px) {
            font-size: 56px;
        }
    }

    h3 {
        font-weight: 300;
        font-size: 16px;

        @media (min-width: 768px) {
            font-size: 18px;
        }
        @media (min-width: 1024px) {
            font-size: 24px;
        }
        @media (min-width: 1440px) {
            font-size: 36px;
        }
        @media (min-width: 1920px) {
            font-size: 42px;
        }
    }

    h4 {
        font-weight: 900;
        font-size: 16px;
        line-height: 29px;
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #29282e;
        @media (min-width: 1024px) {
            font-size: 22px;
        }
        @media (min-width: 1440px) {
            font-size: 25px;
        }
    }

    h5 {
        font-family: $rubik;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: $white;
        @media (min-width: 768px) {
            font-size: 18px;
        }
        @media (min-width: 1024px) {
            font-size: 24px;
        }
        @media (min-width: 1024px) {
            font-size: 32px;
        }
    }

    p {
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        color: $text-color;
        @media (min-width: 1440px) {
            font-size: 16px;
        }
    }
}

.section-title {
    max-width: 200px;
    width: 100%;
    position: relative;
    padding: 0 0 0 16px;

    @media (min-width: 768px) {
        padding: 0 0 0 32px;
        max-width: 270px;
    }
    @media (min-width: 1024px) {
        max-width: 310px;
    }
    @media (min-width: 1440px) {
        max-width: 450px;
    }
    @media (min-width: 1920px) {
        max-width: 510px;
    }

    &.right {
        padding: 0 16px 0 0;
        margin-left: auto;
        @media (min-width: 768px) {
            padding: 0 32px 0 0;
        }

        .section-title__subtitle {
            text-align: right;
        }

        .section-title__title {
            text-align: right;
        }

        &:before {
            left: auto;
            right: 0;
        }
    }

    &.center {
        padding: 0;
        margin: 0 auto;

        .section-title__subtitle {
            text-align: center;
        }

        .section-title__title {
            text-align: center;
        }

        &:before {
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &.black {
        .section-title__wrap {
            background: $black-main;
        }

        .section-title__subtitle {
            color: $white;
        }

        &:before {
            border-color: $white;
        }
    }

    &__wrap {
        background: $white;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        @media (min-width: 768px) {
            padding: 10px 0px;
        }
    }

    &:before {
        position: absolute;
        content: "";
        width: 87px;
        height: 87px;
        border: 3px solid $black-main;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 1;
        @media (min-width: 768px) {
            width: 126px;
            height: 126px;
            border: 6px solid $black-main;
        }
        @media (min-width: 1024px) {
            width: 153px;
            height: 153px;
        }
        @media (min-width: 1440px) {
            width: 200px;
            height: 200px;
        }
        @media (min-width: 1920px) {
            width: 225px;
            height: 225px;
        }
    }
}
