include bem

doctype html
html(lang='ru')
	include head
	body(class=pageClass)
		.wrapper
			block header
			block content
			block footer
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
		script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
		//- script(src='https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.js')
		script(src="js/libs/libs.min.js")
		script(src='js/app.js')