head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	block head
	title= pageTitle || ''
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')
	meta(name='format-detection', content='telephone=no')
	link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
	link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
	//- link(rel="stylesheet" href="https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.css")
	link(rel='stylesheet' href='css/main.css'  type='text/css')
	
	