section(data-anchor="work")#work-anch.section.work-section
	.container
		.section-title.black.right(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
			.section-title__wrap.typography
				h3.section-title__subtitle Як ми працюємо
				h2.section-title__title 6 кроків від ідеї до реалізації
		.intro-slider.js-work-slider
			.swiper-wrapper
				.swiper-slide
					.step.typography(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
						.step__title-wrap
							h3 Крок
								span 1
							h3 Виконання усіх видів будівельних робіт
						.column-wrap
							.column.scroll-wrap
								p З чого людина формує найперше враження про медичний заклад? Сервіс, кваліфікація лікарів, якість послуг - всі ці важливі моменти оцінюються потім, а перший погляд - це погляд на будівлю. Оцінка будівлі і території біля неї - це перший емоційний досвід і він дуже важливий. Привітно, затишно, зручно: якщо у відвідувача при першому погляді і при перших хвилинах перебування у медичному закладі з’являються такі відчуття, це надзвичайно цінно для власника цього закладу. “Я хочу тут працювати” - таке підсвідоме і емоційне відчуття  має виникати у медичних спеціалістів, коли вони дивляться на сучасну, зручну, стильну споруду. Всі ці враження мають підсилюватися під час перебування у медичному закладі. Лікарям повинно бути  комфортно працювати, а пацієнти мають відчути, що означає фраза “Тут навіть стіни лікують”. Сучасний зовнішній вигляд, зручна, продумала у кожній деталі інфраструктура, надійні і довговічні технології, високий рівень безпеки - наші рішення безкомпромісні у тому, що стосується комфорту людини. Медичний заклад майбутнього - це НеЛікарня, це Місце Сили, куди хочеться приходити, щоб дбати про себе та робити своє життя кращим. І ми знаємо, як побудувати такий.
				.swiper-slide
					.step.typography(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
						.step__title-wrap
							h3 Крок
								span 1
							h3 Виконання усіх видів будівельних робіт
						.column-wrap
							.column.scroll-wrap
								p З чого людина формує найперше враження про медичний заклад? Сервіс, кваліфікація лікарів, якість послуг - всі ці важливі моменти оцінюються потім, а перший погляд - це погляд на будівлю. Оцінка будівлі і території біля неї - це перший емоційний досвід і він дуже важливий. Привітно, затишно, зручно: якщо у відвідувача при першому погляді і при перших хвилинах перебування у медичному закладі з’являються такі відчуття, це надзвичайно цінно для власника цього закладу. “Я хочу тут працювати” - таке підсвідоме і емоційне відчуття  має виникати у медичних спеціалістів, коли вони дивляться на сучасну, зручну, стильну споруду. Всі ці враження мають підсилюватися під час перебування у медичному закладі. Лікарям повинно бути  комфортно працювати, а пацієнти мають відчути, що означає фраза “Тут навіть стіни лікують”. Сучасний зовнішній вигляд, зручна, продумала у кожній деталі інфраструктура, надійні і довговічні технології, високий рівень безпеки - наші рішення безкомпромісні у тому, що стосується комфорту людини. Медичний заклад майбутнього - це НеЛікарня, це Місце Сили, куди хочеться приходити, щоб дбати про себе та робити своє життя кращим. І ми знаємо, як побудувати такий.
				.swiper-slide
					.step.typography(data-aos-once="true" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1100")
						.step__title-wrap
							h3 Крок
								span 1
							h3 Виконання усіх видів будівельних робіт
						.column-wrap
							.column.scroll-wrap
								p З чого людина формує найперше враження про медичний заклад? Сервіс, кваліфікація лікарів, якість послуг - всі ці важливі моменти оцінюються потім, а перший погляд - це погляд на будівлю. Оцінка будівлі і території біля неї - це перший емоційний досвід і він дуже важливий. Привітно, затишно, зручно: якщо у відвідувача при першому погляді і при перших хвилинах перебування у медичному закладі з’являються такі відчуття, це надзвичайно цінно для власника цього закладу. “Я хочу тут працювати” - таке підсвідоме і емоційне відчуття  має виникати у медичних спеціалістів, коли вони дивляться на сучасну, зручну, стильну споруду. Всі ці враження мають підсилюватися під час перебування у медичному закладі. Лікарям повинно бути  комфортно працювати, а пацієнти мають відчути, що означає фраза “Тут навіть стіни лікують”. Сучасний зовнішній вигляд, зручна, продумала у кожній деталі інфраструктура, надійні і довговічні технології, високий рівень безпеки - наші рішення безкомпромісні у тому, що стосується комфорту людини. Медичний заклад майбутнього - це НеЛікарня, це Місце Сили, куди хочеться приходити, щоб дбати про себе та робити своє життя кращим. І ми знаємо, як побудувати такий.
			.swiper-button-prev
			.swiper-button-next