.work-section {
    background: $black-main;
    padding: 70px 0 40px;
    @media (min-width: 1024px) {
        padding: 20px 0 0;
    }
    .section-title {
        margin-bottom: 10px;

        @media (min-width: 768px) {
            max-width: 440px;
            margin-bottom: 70px;
        }
        @media (min-width: 1024px) {
            margin-top: 70px;
        }
        @media (min-width: 1920px) {
            max-width: 100%;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 8%;
        width: 40px;
        height: 40px;
        @media (min-width: 1024px) {
            top: 50%;
        }
    }
}
