.about-section {
    padding: 50px 0;
    @media (min-width: 1024px) {
        padding: 50px 0 0;
    }
    .section-title {
        margin-bottom: 50px;
        @media (min-width: 1024px) {
            margin-bottom: 120px;
        }
    }
}
