.footer {
    background: $black-main;
    padding: 30px 0;

    @media (min-width: 1024px) {
        padding: 50px 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .logo {
        width: 47px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 640px) {
            justify-content: space-between;
            align-items: flex-end;
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media (min-width: 1024px) {
            flex-wrap: nowrap;
        }
    }

    .footer-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        @media (min-width: 640px) {
            align-items: flex-start;
        }
        @media (min-width: 1024px) {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.order1 {
            order: 1;
        }

        &.order2 {
            order: 2;
        }

        &.order3 {
            order: 3;
            @media (min-width: 1024px) {
                order: 1;
            }
        }

        &.order4 {
            order: 4;
        }

        p {
            text-align: center;
            margin-top: 10px;
            font-weight: 300;
            font-size: 14px !important;
            color: #f2f2f2 !important;
            @media (min-width: 1024px) {
                text-align: left;
            }
        }
    }

    .agency {
        max-width: 90px;
        height: auto;
        @media (min-width: 640px) {
            margin-bottom: 40px;
        }
        @media (min-width: 1024px) {
            margin-bottom: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        svg {
            fill: $white;
            transition: all 0.3s ease;
        }
        &:hover {
            svg {
                fill: #FF0000;
            }
        }
    }
}
