.mask.js-mask

.modal.js-modal.js-order-modal
	.modal__wrap
		button(type="button").modal__close.js-cancel
		h2.modal__title замовити проект
		form(action="#").mainForm
			.mainForm__wrap
				.mainForm__field
					label(for="#").mainForm__label Ім’я*
					input(type="text").mainForm__input
				.mainForm__field
					label(for="#").mainForm__label Телефон*
					input(type="number").mainForm__input
				button(type="submit").btn.more.js-open-thx замовити

.modal.js-modal.js-thx-modal
	.modal__wrap
		button(type="button").modal__close.js-cancel
		h2.modal__title Дякуємо
		h3.modal__subtitle Наш менеджер вам зателефонує