.partners-content {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    overflow: hidden;
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.partner-images {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

.partner-img-wrap {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 1440px) {
        width: 2000px;
    }
}

.partners-title {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    color: $main-color;
    padding-right: 30px;
    border-bottom: 2px solid $main-color;
    text-align: center;
    padding: 10px;
    flex: none;
    margin-bottom: 25px;
    @media (min-width: 768px) {
        padding: 20px 30px 20px 0;
        max-width: 150px;
        border-right: 2px solid $main-color;
        border-bottom: none;
        text-align: right;
    }
}

.partner-img {
    max-width: 240px;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    transition: $base-transition;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);

    &:hover {
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
    }

    img {
        width: 100%;
        max-height: 60px;
        object-fit: contain;
    }
}
