.section {
    &.active {
        .left-anim {
            animation-name: left-animation;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
        }

        .right-anim {
            animation-name: right-animation;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
        }
        .bottom-anim {
            animation-name: bottom-animation;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
        }
    }
}
