.svg-wrap
	svg(xmlns="http://www.w3.org/2000/svg")
		symbol(viewBox="0 0 24 24")#inst
			path(d="M16.8503 0H7.14973C3.20735 0 0 3.20735 0 7.14973V16.8503C0 20.7926 3.20735 24 7.14973 24H16.8503C20.7926 24 24 20.7926 24 16.8503V7.14973C24 3.20735 20.7926 0 16.8503 0ZM21.5856 16.8503C21.5856 19.4655 19.4655 21.5856 16.8503 21.5856H7.14973C4.5345 21.5856 2.4144 19.4655 2.4144 16.8503V7.14973C2.4144 4.53446 4.5345 2.4144 7.14973 2.4144H16.8503C19.4655 2.4144 21.5856 4.53446 21.5856 7.14973V16.8503Z")
			path(d="M12.0002 5.79297C8.57754 5.79297 5.79297 8.57754 5.79297 12.0002C5.79297 15.4228 8.57754 18.2074 12.0002 18.2074C15.4229 18.2074 18.2075 15.4229 18.2075 12.0002C18.2075 8.57749 15.4229 5.79297 12.0002 5.79297ZM12.0002 15.7931C9.90547 15.7931 8.20737 14.095 8.20737 12.0002C8.20737 9.90547 9.90551 8.20737 12.0002 8.20737C14.095 8.20737 15.7931 9.90547 15.7931 12.0002C15.7931 14.0949 14.0949 15.7931 12.0002 15.7931Z")
			path(d="M18.2193 7.32682C19.0408 7.32682 19.7067 6.6609 19.7067 5.83944C19.7067 5.01798 19.0408 4.35205 18.2193 4.35205C17.3979 4.35205 16.7319 5.01798 16.7319 5.83944C16.7319 6.6609 17.3979 7.32682 18.2193 7.32682Z")

		symbol(viewBox="0 0 24 24")#facebook
			path(d="M20.7667 0H3.23502C1.44894 0 0.000976562 1.44791 0.000976562 3.23405V20.7658C0.000976562 22.552 1.44889 23.9999 3.23502 23.9999H11.8816L11.8963 15.4236H9.66819C9.37863 15.4236 9.14361 15.1895 9.1425 14.8999L9.13181 12.1354C9.1307 11.8443 9.36642 11.6077 9.65756 11.6077H11.8816V8.93651C11.8816 5.83661 13.7748 4.14869 16.5402 4.14869H18.8093C19.0996 4.14869 19.335 4.38406 19.335 4.67444V7.00547C19.335 7.29573 19.0998 7.53104 18.8096 7.53122L17.417 7.53187C15.9132 7.53187 15.622 8.24649 15.622 9.29522V11.6078H18.9265C19.2413 11.6078 19.4856 11.8827 19.4485 12.1954L19.1209 14.9599C19.0895 15.2244 18.8652 15.4237 18.5988 15.4237H15.6367L15.622 24H20.7668C22.5529 24 24.0008 22.5521 24.0008 20.766V3.23405C24.0007 1.44791 22.5528 0 20.7667 0Z")

		symbol(viewBox="0 0 27 24")#youtube
			path(d="M21.3924 0H5.60755C2.51058 0 0 3.15369 0 7.04397V16.956C0 20.8463 2.51058 24 5.60755 24H21.3924C24.4894 24 27 20.8463 27 16.956V7.04397C27 3.15369 24.4894 0 21.3924 0ZM18.6001 12.4823L10.217 16.9056C10.0203 17.0234 9.79301 16.8432 9.79301 16.5695V7.4464C9.79301 7.16875 10.0262 6.98879 10.2234 7.11431L18.6065 11.8141C18.826 11.9538 18.8222 12.3492 18.6001 12.4823Z")

		symbol(viewBox="0 0 24 34")#place
			path(d="M11.999 0C5.45409 0 0 5.44484 0 12.0996C0 22.2633 11.999 34 11.999 34C11.999 34 23.998 22.2633 23.998 12.0996C24.1192 5.44484 18.6651 0 11.999 0ZM11.999 19.9644C7.51453 19.9644 3.99967 16.3345 3.99967 11.9786C3.99967 7.50178 7.63573 3.99288 11.999 3.99288C16.3623 3.99288 19.9984 7.62278 19.9984 11.9786C20.1196 16.3345 16.4835 19.9644 11.999 19.9644Z")
			
		symbol(viewBox="0 0 34 34")#phone
			path(d="M31.3286 22.3429C29.2643 22.3429 27.2 21.9786 25.2571 21.3714C24.2857 21.0071 23.1929 21.3714 22.5857 21.9786L18.8214 24.8929C14.3286 22.5857 11.6571 19.7929 9.35 15.4214L12.1429 11.6571C12.8714 10.9286 13.1143 9.83571 12.8714 8.86429C12.0214 6.8 11.6571 4.85714 11.6571 2.67143C11.6571 1.21429 10.4429 0 8.98571 0H2.67143C1.21429 0 0 1.21429 0 2.67143C0 19.9143 14.0857 34 31.3286 34C32.7857 34 34 32.7857 34 31.3286V25.1357C34 23.5571 32.7857 22.3429 31.3286 22.3429Z")