.soc {
    &__wrap {
        display: flex;
    }

    &__icon {
        margin-right: 35px;

        svg {
            fill: $black-main;
            max-width: 27px;
            height: 24px;
            object-fit: contain;
        }

        &:hover {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            svg {
                fill: $main-color !important;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
